* {
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
	font-family: 'Poppins', sans-serif;
}
* > a{
	text-decoration: none !important;
}
body{
	min-height: 100vh;
	 height: 200vh; 
}

.header{
	min-height:200vh;
	width: 100%;
	background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(images/banner.png);
	background-position: center;
	background-size: cover;
	position: relative;
}
nav{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}
nav img{
	width: 150px;
}

.nav-links > ul{
	max-width: 650px;
}

.nav-links{
	flex: flex;   
}
.nav-links ul li{
	list-style: none;
	display: inline-block;
	padding: 8px 12px;
	position: relative;
}

.nav-links ul li a{
	color: #fff;
	text-decoration: none;
	font-size: 13px;	
}
.sub-header{
    min-height: 50vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(images/eLearning.png);
    background-position: center;
    background-size: cover;
    text-align: center;
    color: #fff;
}
.sub-header h1{
    margin-top: 100px;
	padding-bottom: 20px;
}


.pageOne{
	max-width: 1500px;
	margin: auto;
	padding-top: 80px;
	padding-bottom: 50px;
}

.intro{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: end;
	gap: 20px;
	width: 100%;
}

.intro > img{
	max-width: 500px;
	border-radius: 20px;
	display: block;
	margin: 0 auto;
	border: black 1px solid;
	padding: 0px;
}

.text-container{
	text-align: justify;
	max-width: 600px;
}
.text2-container{
	text-align: justify;
}
.text-container > h1{
	padding: 0 0 20px 0;
}
	

.inclusive{
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	align-items: center;
	width: 100%;
	margin: auto;
	margin-top: 30px;	
	background-color: #D1EDF2;
	background-size: cover;
}

.text2-container > p{
	max-width: 1500px;
}



#inclusive-img{
	margin-top: 40px;
	max-width: 700px;
	border-radius: 20px;
	border: black 1px solid;
}

#quote{
	margin: 15px
}
#inclusive-title{
	margin-bottom: 20px;
}

.section-img{
	min-width: 300px;
}


/* page two content*/
.sub-header2{
	background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(images/imageOne.png);
	min-height: 50vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    text-align: center;
    color: #fff;
	font-weight: inherit
}
.sub-header2 > h1{
	margin-top: 100px;
	padding-bottom: 20px;
}

.pageTwo{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 20px;
	width: 100%;
	text-align: justify;
	font-size: 16px;
}
.MOOC{
	display: flex;
	flex-direction: row;
	max-width: 600px;
	margin-left:5px;  
	border: black 1px solid;

}
.size{
	font-size: 40px;
	font-weight: 500;
}

.text3-container{
	display: flex;
	flex-direction: column;
	width: 1500px; 	
	background-size: cover;
	margin: auto;
	text-align: justify;
}
#UN{
	display: block;
	width: 40vh;
	margin: 0 auto;
	border-radius: 20px;
	margin-bottom: 50px;
	border: black 1px solid;
}

#move{
	margin-top: 40px;
}
#move1{
	margin: 20px 0px 30px 0px;
}
#OER{
	width: 40vh;
	margin: 0 auto;
	margin-top: 40px;
	border-radius: 20px;
	border: black 1px solid;
}
.BGC{
	background-color: #D1EDF2;
}
.imageSource{
	margin-top: .5em;
}

.moadd-image-ref {
	text-align: center;
}

.intro > .image-container > img{
	max-width: 500px;
	border-radius: 20px;
	display: block;
	margin: 0 auto;
	border: black 1px solid;
	padding: 0px;
}
